/* Slide and fade for heading */
@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade for form */
@keyframes fadeInSlow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-slide-fade-in {
    animation: slideFadeIn 0.8s ease-out forwards;
    opacity: 0;
}

.animate-fade-in-slow {
    animation: fadeInSlow 1.2s ease-in forwards;
    opacity: 0;
}


#filterTransactions {
  background-color: #1f2937;      /* Tailwind's bg-gray-800 */
  color: #ffffff;                 /* white text */
  border-radius: 0.5rem;          /* same as rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* similar to shadow-md */
  }

 #filterTransactions:active {
    transform: scale(0.96);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

   #applyFilters {
      background-color: #1f2937;      /* Tailwind's bg-gray-800 */
      color: #ffffff;                 /* white text */
      border-radius: 0.5rem;          /* same as rounded-lg */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* similar to shadow-md */
      }

     #applyFilters:active {
        transform: scale(0.96);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }