.btn-active {
  background-color: #1f2937;      /* Tailwind's bg-gray-800 */
  color: #ffffff;                 /* white text */
  border-radius: 0.5rem;          /* same as rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* similar to shadow-md */
  }


.btn-active .tooltip-content {
  display: none !important;
}
