.btn-active {
  background-color: #1f2937;      /* Tailwind's bg-gray-800 */
  color: #ffffff;                 /* white text */
  border-radius: 0.5rem;          /* same as rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* similar to shadow-md */
  }


.btn-active .tooltip-content {
  display: none !important;
}


@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade for form */
@keyframes fadeInSlow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-slide-fade-in {
    animation: slideFadeIn 0.8s ease-out forwards;
    opacity: 0;
}

.animate-fade-in-slow {
    animation: fadeInSlow 1.2s ease-in forwards;
    opacity: 0;
}




/* loader */


.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: black;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}

.loading {
  display: flex;
  width: 5em;
  align-items: center;
  justify-content: center;
}

.load {
  width: 23px;
  height: 3px;
  background-color: limegreen;
  animation: 1s move_5011 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes move_5011 {
  0% {
    width: 0.2em;
  }

  25% {
    width: 0.7em;
  }

  50% {
    width: 1.5em;
  }

  100% {
    width: 0.2em;
  }
}


