<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-page-user-access::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <div th:replace="~{base-page-user-access :: styles-dashboard-page}"></div>
</head>
<body>

<section>

    <div class="dynamic-content" th:object="${user}">
        <div class="welcome-message">
            <span class="welmsg1" th:text="'WELCOME ' + ${user.userName.toUpperCase()}"></span>
            <span class="welmsg2">Here's your financial overview</span>
        </div>

        <div class="container animate-fade-in-slow">
            <div class="row">

                <!-- Total Balance -->
                <div class="col-xl-6 col-lg-6">
                    <div class="card l-bg-cherry">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-indian-rupee-sign"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Total Balance</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-12">
                                    <h2 class="d-flex align-items-center mb-0">
                                        ₹<span th:text="${#numbers.formatDecimal(totalBalance, 0, 'COMMA', 2, 'POINT')}"></span>
                                    </h2>
                                </div>
                            </div>
                            <div class="progress mt-1" data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-cyan" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Monthly Expense -->
                <div class="col-xl-6 col-lg-6">
                    <div class="card l-bg-blue-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-cart-shopping"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Monthly Expense</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-12">
                                    <h2 class="d-flex align-items-center mb-0">
                                        ₹<span th:text="${#numbers.formatDecimal(monthlyExpense, 0, 'COMMA', 2, 'POINT')}"></span>
                                    </h2>
                                </div>
                            </div>
                            <div class="progress mt-1" data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-green" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Monthly Income -->
                <div class="col-xl-6 col-lg-6">
                    <div class="card l-bg-green-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-money-check"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Monthly Income</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-12">
                                    <h2 class="d-flex align-items-center mb-0">
                                        ₹<span th:text="${#numbers.formatDecimal(monthlyIncome, 0, 'COMMA', 2, 'POINT')}"></span>
                                    </h2>
                                </div>
                            </div>
                            <div class="progress mt-1" data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-orange" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Monthly Savings -->
                <div class="col-xl-6 col-lg-6">
                    <div class="card l-bg-orange-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-piggy-bank"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Monthly Savings</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-12">
                                    <h2 class="d-flex align-items-center mb-0">
                                        ₹<span th:text="${#numbers.formatDecimal(monthlySavings, 0, 'COMMA', 2, 'POINT')}"></span>
                                    </h2>
                                </div>
                            </div>
                            <div class="progress mt-1" data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-cyan" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:fragment="scripts"></div>

</section>

</body>
</html>
