<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base-page-user-access::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <div th:replace="~{base-page-user-access :: styles-settings-page}"></div>
</head>

<body class="bg-gray-50 text-gray-800">
<section>
    <div class="dynamic-content" th:object="${user}">
        <div class="max-w-4xl mx-auto mt-10 space-y-10 px-4">

            <!-- Feedback Message -->
            <div th:if="${session.customMessage}"
                 th:classappend="${session.customMessage.type}"
                 class="alert register-alert text-center py-3 px-4 rounded-md"
                 role="alert">
                <p th:text="${session.customMessage.content}"></p>
            </div>
            <th:block th:text="${@customSession.removeMessageFromSession()}"></th:block>

            <!-- Personal Information -->
            <div class="bg-white rounded-2xl shadow p-6">
                <h2 class="text-xl font-semibold mb-6 border-b pb-2">Personal Information</h2>

                <div class="flex flex-col items-center mb-6">
                    <img th:src="${user.userImageURL == 'userDefault.png' ? '/images/userDefault.png' : '/userprofileimages/' + user.userImageURL}"
                         class="profile-image-setting-page"
                         alt="Profile Image"
                         style="width: 175px; height: 175px; border-radius: 50%; border: 1px solid #c2edda;">

                    <form id="changeProfilePhotoForm" method="post"
                          th:action="@{/user/change-profile-image}" enctype="multipart/form-data"
                          class="mt-3">
                        <input type="file" id="profileImageInput" name="profileImage"
                               class="hidden" accept="image/*" onchange="this.form.submit()">
                        <button type="button"
                                class="group flex items-center justify-start w-11 h-11 rounded-full cursor-pointer relative overflow-hidden transition-all duration-200 shadow-lg hover:w-48 hover:rounded-lg active:translate-x-1 active:translate-y-1"
                                style="background-color:#1f2937; color:white"
                                onclick="document.getElementById('profileImageInput').click();"
                        >
                            <div class="flex items-center justify-center w-full transition-all duration-300 group-hover:justify-start group-hover:px-3">
                                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 17.25V21h3.75l11.06-11.06-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02
                0-1.41l-2.34-2.34a.9959.9959 0 00-1.41 0l-1.83 1.83
                3.75 3.75 1.83-1.83z"/>
                                </svg>
                            </div>
                            <div
                                    class="absolute right-5 transform translate-x-full whitespace-nowrap opacity-0 text-white text-lg font-semibold transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100"
                            >
                                Update Image
                            </div>
                        </button>
                    </form>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="userName" class="block text-sm font-medium">User Name</label>
                        <input type="text" id="userName" class="form-control mt-1 w-full rounded border-gray-300"
                               th:value="${user.userName}" readonly>
                    </div>
                    <div>
                        <label for="email" class="block text-sm font-medium">Email Address</label>
                        <input type="email" id="email" class="form-control mt-1 w-full rounded border-gray-300"
                               th:value="${user.userEmail}" readonly>
                    </div>
                </div>
            </div>

            <!-- Password -->
            <div class="bg-white rounded-2xl shadow p-6">
                <h2 class="text-xl font-semibold mb-6 border-b pb-2">Password</h2>
                <div class="text-center">
                    <form id="changePasswordForm" method="get" th:action="@{/forgot-password}">

                        <button type="submit"
                                class="group flex items-center justify-start w-11 h-11  rounded-full cursor-pointer relative overflow-hidden transition-all duration-200 shadow-lg hover:w-52 hover:rounded-lg active:translate-x-1 active:translate-y-1"
                                style="background-color:#1f2937; color:white"
                        >
                            <div
                                    class="flex items-center justify-center w-full transition-all duration-300 group-hover:justify-start group-hover:px-3"
                            >
                                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 17.25V21h3.75l11.06-11.06-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02
            0-1.41l-2.34-2.34a.9959.9959 0 00-1.41 0l-1.83 1.83
            3.75 3.75 1.83-1.83z"/>
                                </svg>
                            </div>
                            <div
                                    class="absolute right-5 transform translate-x-full whitespace-nowrap opacity-0 text-white text-lg font-semibold transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100"
                            >
                                Change Password
                            </div>
                        </button>

                    </form>

                </div>
            </div>

            <!-- Security -->
            <div class="bg-white rounded-2xl shadow p-6">
                <h2 class="text-xl font-semibold mb-6 border-b pb-2">Security</h2>

                <div class="text-right">
                    <form id=" TFA-form" method="post" th:action="@{/user/2fa-form}">

                        <div class="flex items-center justify-start gap-5 mb-4">
                            <label for="twoFactor" class="text-sm font-medium">Two-Factor Authentication</label>
                            <input type="checkbox" id="twoFactor" name=checkboxValue class="form-check-input toggle toggle-success"
                                   th:checked="${tfaValue == 'true'}" >

                        </div>

                        <button type="submit"
                                class="group flex items-center justify-start w-11 h-11  rounded-full cursor-pointer relative overflow-hidden transition-all duration-200 shadow-lg hover:w-48 hover:rounded-lg active:translate-x-1 active:translate-y-1"
                                style="background-color:#1f2937; color:white"
                        >
                            <div
                                    class="flex items-center justify-center w-full transition-all duration-300 group-hover:justify-start group-hover:px-3"
                            >
                                <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M6.75 6L7.5 5.25H16.5L17.25 6V19.3162L12 16.2051L6.75 19.3162V6ZM8.25 6.75V16.6838L12 14.4615L15.75 16.6838V6.75H8.25Z" fill="#ffffff"></path> </g>
                                </svg>
                            </div>
                            <div
                                    class="absolute right-5 transform translate-x-full whitespace-nowrap opacity-0 text-white text-lg font-semibold transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100"
                            >
                                Save changes
                            </div>
                        </button>

                    </form>

                </div>
            </div>

            <!-- Danger Zone -->
            <div class="bg-white rounded-2xl shadow p-6 border border-red-300 mb-5">
                <div class="border-b pb-2 mb-4">
                    <h2 class="text-xl font-semibold text-red-600">Danger Zone</h2>
                </div>
                <p class="font-semibold mb-1">Delete Account</p>
                <p class="text-gray-600 mb-4">Permanently delete your account and all associated data.</p>
                <button type="submit"
                        class="btn btn-danger px-6 py-2 rounded bg-red-600 text-white hover:bg-red-700">
                    Delete Account
                </button>
            </div>

        </div>
    </div>
</section>

<!-- Placeholder for scripts -->
<div th:fragment="scripts">
    <script src="https://cdn.tailwindcss.com"></script>
</div>
</body>
</html>
