<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base-page::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/images/logo-image-login-page.jpg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <!-- Display Message if exists (e.g., success or error messages) -->
                <div th:if="${session.customMessage}"
                     th:classappend="${session.customMessage.type}"
                     class="alert alert-primary register-alert text-center"
                     role="alert">
                    <p th:text="${session.customMessage.content}"></p>
                </div>

                <!-- Remove the message from the session after displaying -->
                <!-- Call the method to remove the message from the session -->
                <th:block th:each="__ : ${T(com.codelab.expensetracker.helper.CustomSession).removeMessageFromSession()}"></th:block>


                <!-- Forgot Password Form -->
                <form id="forgotPasswordForm" th:action="@{/forgot-password-otp}" method="post" th:object="${user}">


                    <!-- Email Input Field -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="userEmail" name="userEmail" class="form-control form-control-lg"
                               placeholder="Enter a valid email address"
                               th:value="${userEmail}" required/>
                    </div>

                    <!-- Send OTP Button -->
                    <div class="d-flex justify-content-center mb-4">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-lg"
                                id="sendOtpBtn"
                                style="padding-left: 2.5rem; padding-right: 2.5rem; background-color:#c2edda">
                            Send OTP</button>
                    </div>

                </form>

                <div class="text-center mt-3">
                    <p class="small fw-bold mt-2 pt-1 mb-0">Remember your password?
                        <a th:href="@{/login}" class="link-danger">Back to Login</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5" style="background-color:#c2edda">
        <!-- Copyright -->
        <div class="text-black mb-3 mb-md-0">
            Copyright © 2025. All rights reserved.
        </div>
        <!-- Social Icons -->
        <div>
            <a href="#!" class="me-4">
                <i class="fab fa-facebook-f" style="color:black"></i>
            </a>
            <a href="#!" class="me-4">
                <i class="fab fa-twitter" style="color:black"></i>
            </a>
            <a href="#!" class="me-4">
                <i class="fab fa-google" style="color:black"></i>
            </a>
            <a href="#!" class="">
                <i class="fab fa-linkedin-in" style="color:black"></i>
            </a>
        </div>
    </div>
</section>

<!-- Optional JS Scripts -->
<div th:fragment="scripts">

</div>

</body>
</html>
