<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace ="~{base-page::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/images/logo-image-login-page.jpg"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">


                <div th:if="${session.customMessage}" class="mt-4 mb-2 flex flex-col gap-2 w-100 sm:w-72 text-[12px] sm:text-s z-50">
                    <div th:classappend="${session.customMessage.type == 'alert-success'} ? ' bg-[#232531]' : ' bg-red-800'"
                         class="succsess-alert cursor-default flex items-center justify-between w-full h-12 sm:h-14 rounded-lg px-[10px]">
                        <div th:class="${session.customMessage.type == 'alert-success'} ? 'text-[#2b9875]' : 'text-red-400'"
                             class="bg-white/5 backdrop-blur-xl p-1 rounded-lg">
                            <!-- Icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                 class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      th:attr="d=${session.customMessage.type == 'alert-success'} ? 'm4.5 12.75 6 6 9-13.5' : 'M6 18L18 6M6 6l12 12'" />
                            </svg>
                        </div>
                        <div>
                            <p class="text-white text-base mt-2" th:text="${session.customMessage.content}">Message here</p>

                        </div>
                        <button class="text-white hover:bg-white/5 p-1 rounded-md transition-colors ease-linear"
                                onclick="this.closest('div[class*=alert]').remove()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                 class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>

                <th:block th:text="${@customSession.removeMessageFromSession()}"></th:block>





                <!--   This dologin parameter is same as
                loginProcessingUrl("/dologin") in securityconfiguration-->
                <form id="login-form" class="form" th:action="@{/dologin}" method="post">


                    <!--  ${param.error/logout}: This is checking if a query parameter error/logout is present in the URL
                    http://example.com/login?error=true
                    http://example.com/login?logout=true
                    So when these parameters are added to the URL,
                    hymeleaf can render the appropriate message.-->

                    <div th:if="${param.error}" class="alert alert-danger">
                        Invalid username or password
                    </div>

                    <div th:if="${param.Logout}" class="alert alert-danger">
                        You have been logged out
                    </div>




                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn  btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn  btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn  btn-floating mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>


                    <!--When the form is submitted,
                    Spring Security will look for the 'username' and 'password' parameters in the HTTP request,
                    as these are the defaults that Spring Security expects for authentication.

                    Spring Security uses the UserDetailsService interface to load user-specific data.
                    In the CustomUserDetailsService , the loadUserByUsername() method is overridden
                    to fetch the user from the database based on the username (email).
                    This is where the username passed from the form is processed.
                    -->

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="username" name="username" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" />
                        <label class="form-label" for="username">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                               placeholder="Enter password" />
                        <label class="form-label" for="password">Password</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a th:href="@{/forgot-password}" class="link-danger fw-bold">Forgot Password ?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button href="/user/dashboard"
                                type="submit" data-mdb-button-init data-mdb-ripple-init
                                 class="btn btn-lg"
                                 style="padding-left: 2.5rem; padding-right: 2.5rem; background-color:#c2edda">
                            Login</button>


                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                            <a th:href="@{/register}"
                               class="link-danger">Register</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div
            class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 " style=" background-color:#c2edda">
        <!-- Copyright -->
        <div class="text-black mb-3 mb-md-0">
            Copyright © 2025. All rights reserved.
        </div>
        <!-- Copyright -->

        <!-- Right -->
        <div >
            <a href="#!" class=" me-4">
                <i class="fab fa-facebook-f" style="color:black"></i>
            </a>
            <a href="#!" class=" me-4">
                <i class="fab fa-twitter" style="color:black"></i>
            </a>
            <a href="#!" class=" me-4">
                <i class="fab fa-google" style="color:black"></i>
            </a>
            <a href="#!" class="">
                <i class="fab fa-linkedin-in" style="color:black"></i>
            </a>
        </div>
        <!-- Right -->
    </div>
</section>

<div th:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</div>




</body>
</html>