.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;   /* Background color of the navbar */
    padding: 25px;        /* Padding around the navbar */
    margin-left: 0px;        /* To prevent navbar from overlapping with sidebar */
    position: absolute;           /* Fix the navbar at the top */
    width: 100%; /* Ensure it takes the remaining width */
    top: 0;                    /* Align it to the top */
    z-index: 1000;             /* Keep navbar above content */
    height: 60px;              /* Set a fixed height for the navbar */
}

.navbar .app-name {
    color: black;              /* Text color for the app name */
    font-size: 24px;           /* Font size for the app name */
    font-family: 'Roboto', sans-serif;
    font-weight: Bolder;          /* Slightly bold for the app name */
     background: linear-gradient(to right, #9faeaa, #2f3d3b);  /* Gradient background */
        -webkit-background-clip: text;  /* Clip background to the text */
        color: transparent;             /* Make text color transparent so gradient shows */

}

.navbar .nav-links a {
    color: black;              /* Text color for navbar links */
    text-decoration: none;     /* Remove underline from links */
    padding: 8px 16px;         /* Padding around the navbar links */
    font-size: 14px;           /* Font size for the navbar links */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;          /* Lighter font weight */
    transition: background-color 0.3s ease;  /* Smooth transition for hover */
}

.navbar .nav-links a:hover {
    background: linear-gradient(to right, #c2edda, #a0d6d2) !important;
    color: black;              /* White text on hover */
}

/* Make navbar and sidebar responsive on smaller screens */
@media (max-width: 768px) {
    .navbar {
        margin-left: 0;         /* Navbar takes the full width on smaller screens */
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links a {
        padding: 10px 20px;      /* More padding for mobile links */
        font-size: 18px;         /* Adjust font size for mobile */
    }

}